/* Estilo index*/
.center {
    text-align: center;
}
.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.menu li {
    display: inline;
    padding: 2rem;

}
.menu li a {
    text-decoration: none;
    color: black;
    font-size: 2rem;
}
.menu li a:hover{
    color: gray;
}

.p1 {
    padding: 1rem;
}
.img{
    border-radius: 15%;
    width: 25rem;
    height: 25rem;
}

.tam{
    width: 10rem;
    height: 10rem;
}

.justify{
    text-align: justify;
}

.ml50{
    margin-left: 5rem;
}
.color{background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    }

.fonte{
    font-size: 1rem;
    font-weight: 900;
}

.borda{
    border: dashed rgb(0, 0, 0);
    border-width: .1rem

}